:root {
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --align-middle: center;
    --primary-color: rgb(232, 226, 219);
}

@media (max-width: 600px) {
    .pic {
        display: none;
    }

    h1 {
        font-size: small;
    }

    h2 {
        font-size: 20px;
    }

    .box {
        text-align: center;
    }

    .about-paragraphs {
        margin: 10px;
    }
}

body {
    margin: auto 0;
    display: block;
}

h1 {
    font-size: 80px;
    text-align: var(--align-middle);
}

h2 {
    font-size: 24px;
    opacity: 0.7;
    text-align: var(--align-middle);
}

h3 {
    font-size: 30px;
    text-align: center;
}

p {
    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    text-align: var(--align-middle);
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    background-color: var(--primary-color);
}

.nav-link {
    margin: 15px 40px;
    font-size: 18px;
}

.nav-link:hover {
    font-weight: bold;
}

.navbar-brand {
    padding: 15px;
    margin-right: 150px;
    font-weight: bold;
}

.navigation-links {
    display: flex;
    margin-top: 40px;
}

.navigation-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
}

.collapse {
    background-color: var(--primary-color);
}

.intro {
    margin-top: 175px;
    margin-bottom: 100px;
}

.contact-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
}

.about-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.about-paragraphs {
    display: flex;
    margin: 30px 200px;
}

.about-paragraphs p {
    margin: 10px;
    opacity: 0.85;
}

.email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 20px;
    text-decoration: none;
}

.email-link:hover {
    text-decoration: underline;
}

.card-title {
    text-decoration: none;
    font-size: 20px;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

.container {
    max-width: 50%;
}

.pic {
    border-radius: 8px;
    cursor: pointer;
    transition: ease-in-out all 0.3s;
}

.pic:hover {
    scale: 1.5;
}

.card-text {
    font-size: 15px;
}

.more {
    font-style: italic;
    font-size: 13px;
}

.card {
    background-color: rgba(240, 248, 255, 0);
}

.image {
    width: 250px;
    height: 225px;
    padding: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
    transition: ease-in-out all 0.3s;
}

.image:hover {
    scale: 1.5;
    cursor: pointer;
}
